@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    
    background-color: white;
    width: 250px;
    height: 540px;
    border-radius: 20px;
    text-align: center;
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#imagem {
    display: block;
    background: purple url(../imagens/gatinho.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}


div#formulario {
    display: block;
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    padding: 5px 10px 0px 10px;
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #8df8f5d0;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: #49a09d;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #377976;
}

form > a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #69d3cf;
    color: #214644;
    border: 1px solid #49a09d;
    border-style: none;
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: #81f1ee;
}

form > a.botao > span {
    font-size: 0.8em;

}